@model Invitee.ViewModels.ImageCostViewModel

@using Invitee.Utils.Helpers
@{
    ViewBag.Title = "Edit";
}
<div class="card card-default">
    @Html.Partial("Partials/_CardHeader", new ViewDataDictionary { { "title", "Edit ImageCost" } })
    @using (Html.BeginForm("Edit", "ImageCost", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
    <div class="card-body">
        @Html.HiddenFor(m => m.Id)
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.BootStrapTextBoxFor(m => m.ImageCount, "Image Count", "", "number")
        @Html.BootStrapTextBoxFor(m => m.Cost, "Image Cost", "", "number")
        @Html.BootStrapTextBoxFor(m => m.OfferInPercentage, "Offer (Percentage)", "", "number")
    </div>

        <div class="card-footer">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    }
</div>
@section scripts{
    @if (ViewBag.Success != null)
    {
        <script>
                    swal.fire("Success!", `The imagecost was updated successfully!`, "success").then((result) => {
                        location.href = "@Url.Action("Index")";
                    });
        </script>
    }
}